.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  &-logo {
    width: 11rem;
    &-img {
      width: 100%;
    }
  }

  .nav {
    a {
      color: white;
      text-decoration: none;
      font-family: $font-title;
    }
    > a:not(:last-child) {
      margin-right: 60px;
    }
  }
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &-img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: auto;
  }

  &-title {
    max-width: 675px;
    font-size: 2.25rem;
    font-family: $font-title;
    font-weight: 700;
  }

  &-text {
    max-width: 580px;
    font-size: 18px;
    font-family: $font-body;
    margin-bottom: 30px;
  }
}

.features {
  margin-top: 90px;
  display: flex;
  flex-wrap: wrap;
  &-item {
    margin-top: 50px;
    text-align: center;
    width: 50%;
    h2 {
      font-family: $font-title;
    }
    p {
      font-family: $font-body;
      max-width: 390px;
      margin: auto;
    }
  }
}

.productive {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  &-img {
    width: 50%;
    padding: 60px;

    img {
      width: 100%;
    }
  }

  &-content {
    width: 50%;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 80px;
    h1 {
      font-family: $font-title;
      font-size: 36px;
      max-width: 400px;
    }
    p {
      font-family: $font-body;
    }

    a {
      font-family: $font-body;
      font-size: 16px;
      text-decoration: none;
      border-bottom: 1px solid $cyan;
      color: $cyan;
    }
  }
}

.testimonial {
  padding: 20px 90px;
  display: flex;
  justify-content: space-around;

  &-item {
    width: 30%;
    position: relative;
    background-color: $testiBlue;
    padding: 25px;
    padding-top: 40px;
    .qout {
      position: absolute;
      top: -20px;
      left: -10px;
      z-index: 1;
    }
    p {
      font-family: $font-body;
      margin-bottom: 20px;
    }
    &-profile {
      img {
        border-radius: 50%;
        width: 50px;
      }
      div {
        display: inline-block;
        vertical-align: middle;
        h4,
        h6 {
          font-family: $font-title;
          margin: 5px;
        }
      }
    }
  }
}

.contact {
  margin-top: 160px;
  display: flex;
  justify-content: space-around;
  &-item {
    background-color: $introBlue;
    width: 70%;
    padding: 30px 20px;
    text-align: center;
    border-radius: 5px;
    h1 {
      font-size: 36px;
      font-family: $font-title;
    }
    p {
      font-family: $font-body;
      font-size: 16px;
      max-width: 90%;
      margin: auto;
    }
    .email {
      display: flex;
      justify-content: space-around;
      margin-top: 30px;

      input {
        width: 60%;
        border: none;
        border-radius: 50px;
        padding-left: 30px;
        font-size: 18px;
        font-family: $font-body;
      }
      button {
        width: 30%;
        padding: 20px 0px;
        cursor: pointer;
      }
    }
  }
}
.email-helper {
  position: relative;
}
.email-bg {
  width: 100%;
  height: 180px;
  position: absolute;
  top: 140px;
  z-index: -1;
  background-color: $footerBlue;
}

.footer {
  background-color: $footerBlue;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  > :first-child {
    margin-top: 60px;
    width: 100%;
    img {
      margin: 20px 60px;
    }
  }

  &-menu {
    ul {
      display: flex;
      flex-direction: column;

      li {
        margin-top: 15px;
        color: white;
        font-family: $font-title;
        list-style: none;
        span {
          margin-right: 15px;
        }
        a {
          color: white;
          text-decoration: none;
        }
        p {
          max-width: 300px;
          display: inline-flex;
          margin-left: 15px;
        }
      }
    }
  }
  > :last-child {
    ul {
      flex-direction: row;
      li {
        cursor: pointer;
        width: 30px;
        height: 30px;
        text-align: center;
        margin: 15px;
        border: 1px solid $white;
        border-radius: 50%;
        i {
          vertical-align: sub;
        }
      }
    }
  }
}
footer{
  font-family: $font-title;
  text-align: center;
}

@media (max-width: 768px) and (min-width: 300px) {
  .header {
    padding: 2rem;
    &-logo {
      width: 8rem;
    }

    .nav {
      > a:not(:last-child) {
        margin-right: 15px;
      }
    }
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &-img {
      width: 100%;
      max-width: 800px;
      display: block;
      margin: auto;
    }

    &-title {
      max-width: 675px;
      font-size: 1.5rem;
      font-weight: 700;
    }

    &-text {
      font-size: 14px;
    }
  }
  .features {
    flex-direction: column;
    &-item {
      width: 100%;
    }
  }

  .productive {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    &-img {
      width: 100%;
      padding: 60px;

      img {
        width: 100%;
      }
    }

    &-content {
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;

      h1 {
        font-family: $font-title;
        font-size: 30px;
        max-width: 400px;
      }
      p {
        font-family: $font-body;
      }

      a {
        font-family: $font-body;
        font-size: 16px;
        text-decoration: none;
        border-bottom: 1px solid $cyan;
        color: $cyan;
      }
    }
  }

  .testimonial {
    margin-top: 50px;
    padding: 20px;
    display: flex;
    flex-direction: column;

    &-item {
      margin-top: 30px;
      width: 100%;
    }
  }

  .contact {
    justify-content: space-around;
    &-item {
      width: 90%;
      padding: 20px;
      h1 {
        font-size: 30px;
      }
      p {
        font-size: 14px;
        max-width: 90%;
        margin: auto;
      }
      .email {
        flex-direction: column;
        margin-top: 30px;
        input {
          width: 90%;
          margin: auto;
          padding: 15px;
          margin-bottom: 30px;
          font-size: 14px;
        }
        button {
          margin: auto;
          width: 90%;
          padding: 20px 0px;
        }
      }
    }
  }

  .footer {
    flex-direction: column;
  }

  .email-bg {
    display: none;
  }
}

