html {
  font-size: 14px;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: white;
  background-color: #181f2a;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.container {
  padding-right: 50px;
  padding-left: 50px;
}

button, .btn {
  border: 0;
  border-radius: 50px;
  background-image: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background-image: linear-gradient(to right, #65e2d9, #339ecc);
  font-family: "Raleway", sans-serif;
  padding: 20px 90px;
  font-size: 16px;
  font-weight: 700;
  color: white;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem;
}

.header-logo {
  width: 11rem;
}

.header-logo-img {
  width: 100%;
}

.header .nav a {
  color: white;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

.header .nav > a:not(:last-child) {
  margin-right: 60px;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.intro-img {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: auto;
}

.intro-title {
  max-width: 675px;
  font-size: 2.25rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.intro-text {
  max-width: 580px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 30px;
}

.features {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features-item {
  margin-top: 50px;
  text-align: center;
  width: 50%;
}

.features-item h2 {
  font-family: "Raleway", sans-serif;
}

.features-item p {
  font-family: "Open Sans", sans-serif;
  max-width: 390px;
  margin: auto;
}

.productive {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.productive-img {
  width: 50%;
  padding: 60px;
}

.productive-img img {
  width: 100%;
}

.productive-content {
  width: 50%;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 80px;
}

.productive-content h1 {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  max-width: 400px;
}

.productive-content p {
  font-family: "Open Sans", sans-serif;
}

.productive-content a {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-decoration: none;
  border-bottom: 1px solid #65e2d9;
  color: #65e2d9;
}

.testimonial {
  padding: 20px 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.testimonial-item {
  width: 30%;
  position: relative;
  background-color: #202a3c;
  padding: 25px;
  padding-top: 40px;
}

.testimonial-item .qout {
  position: absolute;
  top: -20px;
  left: -10px;
  z-index: 1;
}

.testimonial-item p {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}

.testimonial-item-profile img {
  border-radius: 50%;
  width: 50px;
}

.testimonial-item-profile div {
  display: inline-block;
  vertical-align: middle;
}

.testimonial-item-profile div h4,
.testimonial-item-profile div h6 {
  font-family: "Raleway", sans-serif;
  margin: 5px;
}

.contact {
  margin-top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.contact-item {
  background-color: #1c2431;
  width: 70%;
  padding: 30px 20px;
  text-align: center;
  border-radius: 5px;
}

.contact-item h1 {
  font-size: 36px;
  font-family: "Raleway", sans-serif;
}

.contact-item p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  max-width: 90%;
  margin: auto;
}

.contact-item .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px;
}

.contact-item .email input {
  width: 60%;
  border: none;
  border-radius: 50px;
  padding-left: 30px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

.contact-item .email button {
  width: 30%;
  padding: 20px 0px;
  cursor: pointer;
}

.email-helper {
  position: relative;
}

.email-bg {
  width: 100%;
  height: 180px;
  position: absolute;
  top: 140px;
  z-index: -1;
  background-color: #0b1523;
}

.footer {
  background-color: #0b1523;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer > :first-child {
  margin-top: 60px;
  width: 100%;
}

.footer > :first-child img {
  margin: 20px 60px;
}

.footer-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-menu ul li {
  margin-top: 15px;
  color: white;
  font-family: "Raleway", sans-serif;
  list-style: none;
}

.footer-menu ul li span {
  margin-right: 15px;
}

.footer-menu ul li a {
  color: white;
  text-decoration: none;
}

.footer-menu ul li p {
  max-width: 300px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 15px;
}

.footer > :last-child ul {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer > :last-child ul li {
  cursor: pointer;
  width: 30px;
  height: 30px;
  text-align: center;
  margin: 15px;
  border: 1px solid white;
  border-radius: 50%;
}

.footer > :last-child ul li i {
  vertical-align: sub;
}

footer {
  font-family: "Raleway", sans-serif;
  text-align: center;
}

@media (max-width: 768px) and (min-width: 300px) {
  .header {
    padding: 2rem;
  }
  .header-logo {
    width: 8rem;
  }
  .header .nav > a:not(:last-child) {
    margin-right: 15px;
  }
  .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .intro-img {
    width: 100%;
    max-width: 800px;
    display: block;
    margin: auto;
  }
  .intro-title {
    max-width: 675px;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .intro-text {
    font-size: 14px;
  }
  .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .features-item {
    width: 100%;
  }
  .productive {
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .productive-img {
    width: 100%;
    padding: 60px;
  }
  .productive-img img {
    width: 100%;
  }
  .productive-content {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
  }
  .productive-content h1 {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    max-width: 400px;
  }
  .productive-content p {
    font-family: "Open Sans", sans-serif;
  }
  .productive-content a {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-decoration: none;
    border-bottom: 1px solid #65e2d9;
    color: #65e2d9;
  }
  .testimonial {
    margin-top: 50px;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .testimonial-item {
    margin-top: 30px;
    width: 100%;
  }
  .contact {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contact-item {
    width: 90%;
    padding: 20px;
  }
  .contact-item h1 {
    font-size: 30px;
  }
  .contact-item p {
    font-size: 14px;
    max-width: 90%;
    margin: auto;
  }
  .contact-item .email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 30px;
  }
  .contact-item .email input {
    width: 90%;
    margin: auto;
    padding: 15px;
    margin-bottom: 30px;
    font-size: 14px;
  }
  .contact-item .email button {
    margin: auto;
    width: 90%;
    padding: 20px 0px;
  }
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .email-bg {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */