html {
  font-size: 14px;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: white;
  background-color: #181f2a;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.container {
  padding-right: 50px;
  padding-left: 50px;
}

button, .btn {
  border: 0;
  border-radius: 50px;
  background-image: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background-image: linear-gradient(to right, #65e2d9, #339ecc);
  font-family: "Raleway", sans-serif;
  padding: 20px 90px;
  font-size: 16px;
  font-weight: 700;
  color: white;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem;
}

.header-logo {
  width: 11rem;
}

.header-logo-img {
  width: 100%;
}

.header .nav a {
  color: white;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

.header .nav > a:not(:last-child) {
  margin-right: 60px;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.intro-img {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: auto;
}

.intro-title {
  max-width: 675px;
  font-size: 2.25rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.intro-text {
  max-width: 580px;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 30px;
}

.features {
  margin-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features-item {
  margin-top: 50px;
  text-align: center;
  width: 50%;
}

.features-item h2 {
  font-family: "Raleway", sans-serif;
}

.features-item p {
  font-family: "Open Sans", sans-serif;
  max-width: 390px;
  margin: auto;
}

.productive {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.productive-img {
  width: 50%;
  padding: 60px;
}

.productive-img img {
  width: 100%;
}

.productive-content {
  width: 50%;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 80px;
}

.productive-content h1 {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  max-width: 400px;
}

.productive-content p {
  font-family: "Open Sans", sans-serif;
}

.productive-content a {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-decoration: none;
  border-bottom: 1px solid #65e2d9;
  color: #65e2d9;
}

@media (max-width: 768px) and (min-width: 300px) {
  .header {
    padding: 2rem;
  }
  .header-logo {
    width: 8rem;
  }
  .header .nav > a:not(:last-child) {
    margin-right: 15px;
  }
  .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .intro-img {
    width: 100%;
    max-width: 800px;
    display: block;
    margin: auto;
  }
  .intro-title {
    max-width: 675px;
    font-size: 1.5rem;
    font-weight: 700;
  }
  .intro-text {
    font-size: 14px;
  }
  .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .features-item {
    width: 100%;
  }
  .productive {
    margin-top: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .productive-img {
    width: 100%;
    padding: 60px;
  }
  .productive-img img {
    width: 100%;
  }
  .productive-content {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
  }
  .productive-content h1 {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    max-width: 400px;
  }
  .productive-content p {
    font-family: "Open Sans", sans-serif;
  }
  .productive-content a {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-decoration: none;
    border-bottom: 1px solid #65e2d9;
    color: #65e2d9;
  }
}
/*# sourceMappingURL=style.css.map */